body {
  margin: 0%;
  padding: 0%;
}

.App {
  text-align: center;
}

h1 {
  font-family: monospace;
  font-size: 5rem;
  color: white;
  background: slategray;
  padding: 5%;
}

.user {
  margin-left: 35%;
}

h2 {
  font-family: monospace;
  font-size: 3rem;
  color: slategray;
  padding: 5%;
}

.followersList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}